body {
    background-image: url(file:///Users/tzlilhaim/code/bootcamp/personal-exercises/week-1/week-1-tzlilhaim/day-5/form-exercise/conffetti-background.jpeg);
  }

#container {
    width: 400px;
    height: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    background-color: #e6ffffb4;
    box-shadow: 10px 10px 10px 5px #331100;
    color: #331100;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin:0 auto;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-250px;
}

.form-inputs{
    font-size: medium;
    background-color: #fff0e6;
    border-radius: 5px;
    outline: none;
    border: solid 1px #602020;
    padding: 5px;
    margin-top: 5px;
}

.form-inputs:hover{
    background-color: #0e385a3d;
    cursor: pointer;
}

.form-inputs:focus{
    background-color: #0e385a7c;
    color: white;
}

.field-containers{
    margin-top: 20px;
}

#salary-birthday-container{
    padding: inherit;
    position: relative;
}

#salary-container{
    display: inline-block;
}

#birthday-container{
    display: inline-block;
    position: absolute;
    padding-right: inherit;
    right: 0;
}

#phone-container{
    display: block;
}

#footer-container{
    position: relative;
    padding-top: 10px;
}

.input-success {
    border: solid 2px green;
    background-color: white;
    color: green;
}

.input-error {
    border: solid 2px red;
    background-color: white;
    color: red;
}

#err-msg {
    color: red;
    width: 50%;
    display: none;
    text-transform: capitalize;
    position: absolute;
    bottom: 0;
    font-size: small;
}

#submit {
    border: solid 2px #602020;
    outline: none;
    background-color: white;
    color: #602020;
    font-size: medium;
    font-weight: bold;
    box-shadow: 0px 5px #602020;
    padding: 5px;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
}

#submit:hover:enabled {
    border: none;
    transform: translateY(2px);
    background-color: rgba(211, 84, 0, 0.445);
    cursor: pointer;
}

#submit:active:enabled {
    background-color: rgba(211, 84, 0, 0.521);
    color: white;
    cursor: pointer;
}

button:disabled {
  opacity: 60%;
  transform: translateY(none);
  cursor: not-allowed;
}

.success-icon {
    color: green;
    display: none;
}

.failure-icon {
    color: red;
    display: none;
}