
#list-container{
background-color: lightcoral;
color: white;
}

button:hover{
    background-color:rgb(231, 179, 179);
    color: white;
}
button:active{
    background-color: lightcoral;
}

input:focus{
    background-color: lightcoral;
}
input::placeholder{
    color: grey;
}